@charset "UTF-8";

/*　共通部分
-----------------------------*/
html{
    font-size: 100%;
}

body{
    font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans","BIZ UDPGothic",sana-serif;
    line-height: 1,7;
    colore:#432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*レイアウト*/
.align-center{
    text-align: center;
}

/*見出し*/
.font-english{
    font-family: 'Phlosopher',sans-serif;
    font-weight: normal;
}
/*　ヘッダー
-------------------------*/
.page-header{
    padding-top: 5rem;
}
.logo{
    width: 210px;
}
